In [1]:
import pandas as pd

df = pd.read_csv("../data/Library_Usage.csv")
df.head(20)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015,z,email,True,2011,False,7.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016,z,email,True,2013,False,NaN
10,0,ADULT,102,31,25 to 34 years,M6,Mission,June,2012,z,email,True,2009,False,9.0
11,0,ADULT,0,0,25 to 34 years,P7,Potrero,None,None,z,email,True,2013,True,NaN
12,0,ADULT,45,11,25 to 34 years,P3,Parkside,May,2016,z,email,True,2013,False,4.0
13,0,ADULT,88,64,35 to 44 years,A5,Anza,July,2016,z,email,True,2011,False,1.0
14,0,ADULT,22,6,45 to 54 years,M2,Marina,May,2016,z,email,True,2010,False,2.0
15,0,ADULT,1,0,60 to 64 years,X,Main Library,May,2016,z,email,True,2014,True,NaN
16,0,ADULT,0,0,45 to 54 years,M4,Merced,None,None,z,email,True,2012,False,7.0
17,0,ADULT,5,1,25 to 34 years,A5,Anza,January,2012,z,email,True,2009,False,1.0
18,4,WELCOME,0,0,35 to 44 years,M6,Mission,None,None,z,email,True,2012,False,9.0
19,0,ADULT,0,0,35 to 44 years,P1,Park,None,None,z,email,True,2015,True,NaN

In [2]:
df['Circulation Active Year'] = pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [3]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)
df['Circulation Active Month']

0               NaT
1        1900-04-01
2               NaT
3               NaT
4        1900-01-01
            ...
423443   1900-03-01
423444   1900-07-01
423445   1900-07-01
423446   1900-04-01
423447          NaT
Name: Circulation Active Month, Length: 423448, dtype: datetime64[ns]

In [4]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0         NaN
1         4.0
2         NaN
3         NaN
4         1.0
         ...
423443    3.0
423444    7.0
423445    7.0
423446    4.0
423447    NaN
Name: Circulation Active Month, Length: 423448, dtype: float64

In [5]:
df['Membership Duration'] = (
    df['Circulation Active Year'] - df['Year Patron Registered']
)*12 + df['Circulation Active Month']

In [6]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)
df['Membership Duration']

0           0.0
1          76.0
2           0.0
3           0.0
4         157.0
          ...
423443     75.0
423444      7.0
423445     31.0
423446    148.0
423447      0.0
Name: Membership Duration, Length: 423448, dtype: float64

In [7]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,0.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,157.0