##Praktische Einführung in Pandas
#Grundlage der statistischen Analyse sind Datentabellen: Jede Zeile entspricht einer Beobachtung,
#jede Spalte entspricht einer statistischn Variable.

In [1]:
#Beispiel für eine Series:
import pandas as pd
x = pd.Series([34, 12, 23, 45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

In [3]:
#Beispiel für einen DataFrame (den man in der Realität natürlich nicht manuell erstellt):
#(Ein Python-Dict. mit den Spaltennamen als Keys und den Values in Form von Listen kann in ein DataFrame
#transformiert werden.)
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
         'below_zero': [True, False, False]}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False

#Ein- und Ausgabe: Es gibt vielfältige Funktionen zur Ein- und Ausgabe von Daten in Pandas.
#Um z.B. eine csv-Datei einzulesen wird die Funktion read_csv() verwendet.

In [4]:
df = pd.read_csv("../data/Library_Usage.csv")
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0

In [5]:
df.to_json("../data/Library_Usage.json")

#Exkurs:Datenrundreise (noch machen)

#Auswahl und Erstellung von Spalten
#Die Spalten eines DataFrame werden über einen Spaltenindex referenziert. Dieser besteht meist aus
#Spaltennamen in Textform.

In [5]:
df = pd.read_csv("../data/Library_Usage.csv")
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [7]:
#Einzelne Series können mit df['Name'] extrahiert werden, mehrere Spalten mit df['Name1'] df['Name2'], also
#mit einer doppelten Liste. In letzterem Fall erhält man wieder einen DataFrame zurück. 
#Das Ergebnis kann wieder in einer Variablen abgespeichert werden. 
x = df['Total Renewals'] #Eine einzelne Series wird extrahiert
df[['Total Renewals', 'Total Checkouts']] #Eine doppelte Liste wird erstellt, d.h. zwei Series
column_names = ['Total Renewals', 'Total Checkouts'] #HIer wird mit einer Hilfsvariable gearbeitet (nur als
#Alternative zum code in Zeile 2 ???) 
subset = df[column_names]
print(x) #Gibt die Werte der einzelnen Series/Spalte aus
print(subset) #Gibt die Werte beider ausgewählter Series/Spalten aus

0          0
1         22
2          0
3          0
4         11
          ..
423443    13
423444    11
423445    58
423446     0
423447     0
Name: Total Renewals, Length: 423448, dtype: int64
        Total Renewals  Total Checkouts
0                    0                0
1                   22               31
2                    0                0
3                    0                0
4                   11              126
...                ...              ...
423443              13              291
423444              11               15
423445              58              208
423446               0               26
423447               0                0

[423448 rows x 2 columns]

In [8]:
#Spalten können mit einer Zuweisung (=) überschrieben oder neu erstellt werden. bsp.:
df['dummy variable'] = 5
df['dummy variable']

0         5
1         5
2         5
3         5
4         5
         ..
423443    5
423444    5
423445    5
423446    5
423447    5
Name: dummy variable, Length: 423448, dtype: int64

In [9]:
#Berechnungen auf bestehende Variablen können direkt einer neuen Spalte zugeordnet werden. Erstes Bsp.:
#Hier wird zuerst die Anweisung df['Patron Type Definition'] == 'ADULT' durchgeführt. 
#Das implizite Ergebnis dieser Anweisung ist eine Series mit bool'schen Werten True/False. 
#Diese neu erstellte Series wird dann in einer neuen Spalte "is adult" dem DataFrame angehängt.
import numpy as np
df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District',
       'dummy variable', 'is_adult'],
      dtype='object')

In [10]:
#Zweites Bsp.:
#Hier wird der Logarithmus auf den Werten der Spalte Total Renewals berechnet. 
#Dieser wird einer neu erstellte Spalte "log_renewals" zugewiesen.
import numpy as np
df['log_renewals'] = np.log(df['Total Renewals'] + 1)
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District',
       'dummy variable', 'is_adult', 'log_renewals'],
      dtype='object')

In [11]:
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,dummy variable,is_adult,log_renewals
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0,5,True,0.000000
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0,5,True,3.135494
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN,5,True,0.000000
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0,5,True,0.000000
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0,5,True,2.484907

#Auswahl von Zeilen
#Die Zeilen eines DataFrame können grunds. über drei versch. Arten ausgewählt werden. Hier nur der 
#wichtigste Fall: über logische Ausdrücke mit "loc[]"

In [13]:
#Hier werden alle Zeilen aus der Spalte "Total Checkouts" gefiltert, deren Wert höher als 10000 ist:
df = pd.read_csv("../data/Library_Usage.csv")
df.loc[df['Total Checkouts'] > 10000]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,NaN
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,6.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2003,False,3.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016,a,print,False,2003,False,3.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016,z,email,True,2003,False,11.0
39585,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,July,2016,p,phone,False,2003,False,3.0
57239,0,ADULT,10906,1421,45 to 54 years,P1,Park,July,2016,z,email,True,2003,False,8.0
86662,3,SENIOR,11748,963,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,5.0
117628,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
120604,3,SENIOR,10108,59,65 to 74 years,X,Main Library,November,2013,p,phone,False,2003,False,6.0
129341,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,July,2016,p,phone,False,2004,False,NaN
138351,0,ADULT,10809,24,20 to 24 years,S7,Sunset,July,2016,z,email,True,2010,False,4.0
145600,3,SENIOR,11871,50,65 to 74 years,M4,Merced,July,2016,z,email,True,2003,False,7.0
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
156806,0,ADULT,17308,257,60 to 64 years,X,Main Library,July,2016,z,email,True,2003,False,6.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
176606,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
200204,3,SENIOR,18397,6,65 to 74 years,X,Main Library,July,2016,z,email,True,2005,False,NaN
216300,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,July,2016,z,email,True,2003,False,4.0
222889,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2006,False,8.0
227568,3,SENIOR,11147,123,65 to 74 years,M6,Mission,July,2016,a,print,False,2003,False,NaN
231807,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2003,False,8.0
237668,0,ADULT,15505,294,60 to 64 years,X,Main Library,July,2016,p,phone,False,2004,False,6.0
255021,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,NaN
278408,3,SENIOR,11366,62,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
288655,0,ADULT,15598,228,55 to 59 years,X,Main Library,July,2016,p,phone,False,2003,False,11.0
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016,p,phone,False,2003,False,6.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015,p,phone,False,2003,False,3.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016,z,email,True,2004,True,NaN

In [14]:
#Alternative Lösung mit einer Hilfsvariable (d.h. der Filter wird in eine Variable gepackt und dann
#aufgerufen):
row_filter = df['Total Checkouts'] > 10000
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
851,9,SPECIAL,18064,2268,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,NaN
1963,0,ADULT,10521,621,60 to 64 years,X,Main Library,July,2016,p,phone,False,2003,False,6.0
3499,0,ADULT,12740,2209,45 to 54 years,C2,Chinatown,July,2016,z,email,True,2003,False,3.0
20042,3,SENIOR,16060,66,65 to 74 years,C2,Chinatown,July,2016,a,print,False,2003,False,3.0
31315,0,ADULT,13784,74,60 to 64 years,M4,Merced,June,2016,z,email,True,2003,False,11.0
39585,0,ADULT,11086,1083,35 to 44 years,C2,Chinatown,July,2016,p,phone,False,2003,False,3.0
57239,0,ADULT,10906,1421,45 to 54 years,P1,Park,July,2016,z,email,True,2003,False,8.0
86662,3,SENIOR,11748,963,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,5.0
117628,0,ADULT,11817,2859,45 to 54 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
120604,3,SENIOR,10108,59,65 to 74 years,X,Main Library,November,2013,p,phone,False,2003,False,6.0
129341,3,SENIOR,12757,500,65 to 74 years,R3,Richmond,July,2016,p,phone,False,2004,False,NaN
138351,0,ADULT,10809,24,20 to 24 years,S7,Sunset,July,2016,z,email,True,2010,False,4.0
145600,3,SENIOR,11871,50,65 to 74 years,M4,Merced,July,2016,z,email,True,2003,False,7.0
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,July,2016,p,phone,True,2003,False,4.0
156806,0,ADULT,17308,257,60 to 64 years,X,Main Library,July,2016,z,email,True,2003,False,6.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,July,2016,p,phone,False,2006,False,9.0
176606,0,ADULT,10371,1345,55 to 59 years,S7,Sunset,July,2016,z,email,True,2003,False,4.0
200204,3,SENIOR,18397,6,65 to 74 years,X,Main Library,July,2016,z,email,True,2005,False,NaN
216300,0,ADULT,12950,1548,60 to 64 years,O7,Ortega,July,2016,z,email,True,2003,False,4.0
222889,3,SENIOR,14502,3517,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2006,False,8.0
227568,3,SENIOR,11147,123,65 to 74 years,M6,Mission,July,2016,a,print,False,2003,False,NaN
231807,3,SENIOR,11896,1408,65 to 74 years,E7,Eureka Valley/Harvey Milk Memorial,July,2016,z,email,True,2003,False,8.0
237668,0,ADULT,15505,294,60 to 64 years,X,Main Library,July,2016,p,phone,False,2004,False,6.0
255021,3,SENIOR,11102,2652,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,NaN
278408,3,SENIOR,11366,62,65 to 74 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
288655,0,ADULT,15598,228,55 to 59 years,X,Main Library,July,2016,p,phone,False,2003,False,11.0
290980,0,ADULT,12733,60,45 to 54 years,X,Main Library,July,2016,z,email,True,2003,False,8.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,July,2016,p,phone,False,2003,False,NaN
294129,0,ADULT,10863,57,45 to 54 years,M6,Mission,July,2016,p,phone,False,2003,False,6.0
330536,3,SENIOR,10637,148,75 years and over,C2,Chinatown,January,2015,p,phone,False,2003,False,3.0
401287,5,STAFF,13362,1926,0 to 9 years,X,Main Library,July,2016,z,email,True,2004,True,NaN

In [14]:
#Hier werden alle Zeilen gefiltert, die bei P.T.D "SENIOR" aufweisen UND bei N.P.D "email"
#Also werden hier alle Senioren ausgegeben, die per Mail benachrichtigt werden wollen
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,None,z,email,True,2015,True,NaN
62,3,SENIOR,193,90,65 to 74 years,A5,Anza,July,2016,z,email,True,2007,False,1.0
176,3,SENIOR,7,8,65 to 74 years,X,Main Library,April,2014,z,email,True,2012,True,NaN
260,3,SENIOR,341,212,65 to 74 years,P1,Park,July,2016,z,email,True,2003,False,5.0
294,3,SENIOR,67,26,75 years and over,P5,Portola,July,2016,z,email,True,2009,False,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423359,3,SENIOR,4,0,75 years and over,W4,Western Addition,May,2013,z,email,True,2012,False,5.0
423388,3,SENIOR,25,34,75 years and over,X,Main Library,May,2016,z,email,True,2015,True,NaN
423403,3,SENIOR,458,129,75 years and over,E9,Excelsior,June,2016,z,email,True,2003,True,NaN
423405,3,SENIOR,280,27,75 years and over,X,Main Library,July,2016,z,email,True,2003,False,9.0
423431,3,SENIOR,0,0,75 years and over,X,Main Library,None,None,z,email,True,2012,False,6.0

In [15]:
#Die Funktion "Series.between(left, right)" erstellt eine boolsche Series, die True ist, wenn der Wert
#der ursprünglichen Series zwischen/auf den Werten left und right liegt. Das Beispiel zeigt, dass beide
#Filter das gleiche Ergebnis liefern:
filter1 = (df['Total Checkouts'] >= 20) & (df['Total Checkouts'] <= 80)
filter2 =  df['Total Checkouts'].between(20, 80)
all(filter1 == filter2)

True

#Exkurs: Fehlene Werte (zugehörige Aufgabe 2.8 noch machen)

In [16]:
#Der Library_Usage-Datensatz kodiert fehlende Werte mit "None". 
#Das wird von Pandas nicht immer richtig ekannt, d.h. die Spalte wird - obwohl sie numerische Werte 
#enthält - als Text abgespeichert.
df = pd.read_csv("../data/Library_Usage.csv")
df['Circulation Active Year']

0         None
1         2016
2         None
3         None
4         2016
          ...
423443    2015
423444    2016
423445    2016
423446    2015
423447    None
Name: Circulation Active Year, Length: 423448, dtype: object

In [17]:
#Eine Möglichkeit, das Problem zu beheben: Beim Einlesen die Kodierung für fehlende Werte mit angeben: 
df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [18]:
#Andere Möglichkeit: Nach dem Einlesen eine explizite Umwandlung des Datentyps durchführen:
df = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [16]:
#Für Series und DataFrames gibt es die zwei Funktionen, die jeweils eine boolsche Series zurückgeben:
#Bei isna() ist diese True, bei notna() ist sie False ist, wenn dort ein fehlender Wert steht. 
#Diese müssen aber vorher in das interne Format NaN umgewandelt werdm- 
df[df['Age Range'].isna()]
df[df['Age Range'].notna()]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [20]:
#Anzahl fehlener Werte pro Spalte ausgeben lassen:
df.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month         67904
Circulation Active Year          67904
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [17]:
#dropna() entfernt alle fehlenden Werte: 
df['Age Range'].dropna()

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423233, dtype: object

In [18]:
#fillna() ersetzt fehlende Werte, z.B. mit dem Text "keine Angabe"
df['Age Range'].fillna("keine Angabe")

0         20 to 24 years
1         25 to 34 years
2         45 to 54 years
3         25 to 34 years
4         45 to 54 years
               ...
423443    10 to 19 years
423444    60 to 64 years
423445      0 to 9 years
423446    10 to 19 years
423447      0 to 9 years
Name: Age Range, Length: 423448, dtype: object

##Nützliche Funktionen in Pandas

In [20]:
#Mit df.head() die ersten n Zeilen eines dataFrame anzeigen lassen (default sind es 5)
df.head()

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0

In [22]:
#Mit df.info() erhält man speicherbezogene Informationen über das Objekt
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423448 entries, 0 to 423447
Data columns (total 15 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Code              423448 non-null  int64
 1   Patron Type Definition        423448 non-null  object
 2   Total Checkouts               423448 non-null  int64
 3   Total Renewals                423448 non-null  int64
 4   Age Range                     423233 non-null  object
 5   Home Library Code             423408 non-null  object
 6   Home Library Definition       423448 non-null  object
 7   Circulation Active Month      423448 non-null  object
 8   Circulation Active Year       423448 non-null  object
 9   Notice Preference Code        423448 non-null  object
 10  Notice Preference Definition  423448 non-null  object
 11  Provided Email Address        423448 non-null  bool
 12  Year Patron Registered        423448 non-null  int64
 13  Outside of County             423448 non-null  bool
 14  Supervisor District           313138 non-null  float64
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 42.8+ MB

In [24]:
#Mit df.describe() erhält man deskriptive Statistiken für alle numerischen Spalten. 
#Um alle Spalten mit einzubeziehen: das Funktionsargument "include:'all'" nutzen
df.describe(include='all')

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
count,423448.000000,423448,423448.000000,423448.000000,423233,423408,423448,423448,423448,423448,423448,423448,423448.000000,423448,313138.000000
unique,NaN,18,NaN,NaN,10,79,35,13,15,4,4,2,NaN,2,NaN
top,NaN,ADULT,NaN,NaN,25 to 34 years,X,Main Library,July,2016,z,email,True,NaN,False,NaN
freq,NaN,272251,NaN,NaN,91083,124814,124814,91566,147901,323937,323937,336420,NaN,359628,NaN
mean,1.036765,NaN,161.982097,59.657327,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.348917,NaN,6.288240
std,4.188198,NaN,453.703678,225.009917,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.357374,NaN,3.123634
min,0.000000,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,1.000000
25%,0.000000,NaN,2.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.000000,NaN,4.000000
50%,0.000000,NaN,19.000000,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.000000,NaN,6.000000
75%,1.000000,NaN,113.000000,27.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,NaN,9.000000
max,104.000000,NaN,35907.000000,8965.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2016.000000,NaN,11.000000

In [25]:
#Viele Funktionen funktionieren für Series und DataFrames gleichermaßen. Bsp.:
print(df.min())
print(df['Total Renewals'].min())

Patron Type Code                    0
Patron Type Definition          ADULT
Total Checkouts                     0
Total Renewals                      0
Home Library Definition          Anza
Circulation Active Month        April
Circulation Active Year          2003
Notice Preference Code              -
Notice Preference Definition    email
Provided Email Address          False
Year Patron Registered           2003
Outside of County               False
Supervisor District                 1
dtype: object
0

In [28]:
#Mit der Funktion sum() werden die Werte einer Spalte aufaddiert.
df['Total Renewals'].sum()

25261776

In [30]:
df['Total Renewals'].between(100, 200).sum()

21739