In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/Library_Usage_Membership.csv")
df.head(10)

,Unnamed: 0,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,Membership Duration
0,0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,0.0
1,1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,76.0
2,2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,0.0
3,3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,0.0
4,4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,157.0
5,5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,NaN,NaN,z,email,True,2015,True,NaN,0.0
6,6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,7.0,2016.0,p,phone,True,2004,False,9.0,151.0
7,7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,7.0,2014.0,p,phone,True,2014,False,5.0,7.0
8,8,0,ADULT,20,0,25 to 34 years,S7,Sunset,6.0,2015.0,z,email,True,2011,False,7.0,54.0
9,9,0,ADULT,3,1,60 to 64 years,A5,Anza,6.0,2016.0,z,email,True,2013,False,NaN,42.0

In [41]:
#Die statistische Beschreibung des Datensatzes anzeigen lassen
df.describe()

,Patron Type Code,Total Checkouts,Total Renewals,Circulation Active Month,Circulation Active Year,Year Patron Registered,Supervisor District,Membership Duration
count,423448.000000,423448.000000,423448.000000,355544.000000,355544.000000,423448.000000,313138.000000,423448.000000
mean,1.036765,161.982097,59.657327,6.454740,2014.724943,2010.348917,6.288240,56.587142
std,4.188198,453.703678,225.009917,2.916071,1.567938,4.357374,3.123634,54.774506
min,0.000000,0.000000,0.000000,1.000000,2003.000000,2003.000000,1.000000,0.000000
25%,0.000000,2.000000,0.000000,4.000000,2014.000000,2007.000000,4.000000,8.000000
50%,0.000000,19.000000,2.000000,7.000000,2015.000000,2012.000000,6.000000,41.000000
75%,1.000000,113.000000,27.000000,8.000000,2016.000000,2014.000000,9.000000,98.000000
max,104.000000,35907.000000,8965.000000,12.000000,2016.000000,2016.000000,11.000000,163.000000

In [26]:
#Die Spalte "Circulation Active Year" ist als Text gespeichert. Sie soll in ein
#numerisches Format konvertiert werden mit der Methode pd.to_numeric()
#Die Variable 'Circulation Active Year' soll mit den neuen Werten überschrieben werden
df['Circulation Active Year'] = pd.to_numeric(df['Circulation Active Year'], errors='coerce')
df['Circulation Active Year']

0            NaN
1         2016.0
2            NaN
3            NaN
4         2016.0
           ...
423443    2015.0
423444    2016.0
423445    2016.0
423446    2015.0
423447       NaN
Name: Circulation Active Year, Length: 423448, dtype: float64

In [27]:
df.head(10)
#Erneute Anzeige der Tabelle zeigt, dass die o.g. Werte in der Spalte umgewandelt wurden.

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,NaN,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,NaN,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,NaN,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,None,NaN,z,email,True,2015,True,NaN
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016.0,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014.0,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015.0,z,email,True,2011,False,7.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,June,2016.0,z,email,True,2013,False,NaN

In [28]:
#Die Spalte "Circulation Active Month" enthält die Monatsnamen als Text gespeichert. 
#Diese sollen in ein numerisches Format konvertiert werden. 
#Zuerst die Spalte in ein Datumsformat konvertieren mit der Funktion pd.to_datetime
#Die Variable soll mit den neuen Werten überschrieben werden
df['Circulation Active Month'] = pd.to_datetime(df['Circulation Active Month'], errors='coerce', format="%B")
df['Circulation Active Month']

0               NaT
1        1900-04-01
2               NaT
3               NaT
4        1900-01-01
            ...
423443   1900-03-01
423444   1900-07-01
423445   1900-07-01
423446   1900-04-01
423447          NaT
Name: Circulation Active Month, Length: 423448, dtype: datetime64[ns]

In [29]:
#Nun aus diesen Zahlen den Monat extrahieren
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month
df['Circulation Active Month']

0         NaN
1         4.0
2         NaN
3         NaN
4         1.0
         ...
423443    3.0
423444    7.0
423445    7.0
423446    4.0
423447    NaN
Name: Circulation Active Month, Length: 423448, dtype: float64

In [30]:
#Nun kann die aktive Mitgliedschaftsdauer in Monaten berechnet werden
#Das Ergebnis soll in eine neue Spalte "Membership Duration" geschrieben werden
df['Membership Duration'] = (df['Circulation Active Year'] - df['Year Patron Registered'])*12 + df['Circulation Active Month']

In [31]:
#Es gibt fehlende Werte in dieser Spalte. Diese sollen mit 0 (null) ersetzt werden.
#D.h. alle NaN-Werte sollen mit 0 ersetzt werden. 
df['Membership Duration'] = df['Membership Duration'].fillna(0)
df['Membership Duration']

0           0.0
1          76.0
2           0.0
3           0.0
4         157.0
          ...
423443     75.0
423444      7.0
423445     31.0
423446    148.0
423447      0.0
Name: Membership Duration, Length: 423448, dtype: float64

In [32]:
#Tabelle enthält nun eine neue Spalte "Membership Duration"
df.head(10)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,0.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,157.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,NaN,NaN,z,email,True,2015,True,NaN,0.0
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,7.0,2016.0,p,phone,True,2004,False,9.0,151.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,7.0,2014.0,p,phone,True,2014,False,5.0,7.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,6.0,2015.0,z,email,True,2011,False,7.0,54.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,6.0,2016.0,z,email,True,2013,False,NaN,42.0

In [42]:
#Mit einem bool'schen Zeilenfilter kann man ausgesuchte Werte zweier Variablen filtern und verbinden
#Z.B. hier: alle Senioren, die eine Mailadresse als Kontakt angegeben haben:
row_filter = (df['Patron Type Definition'] == 'SENIOR') & (df['Notice Preference Definition'] == 'email')
df.loc[row_filter]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,Membership Duration
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,NaN,NaN,z,email,True,2015,True,NaN,0.0
62,3,SENIOR,193,90,65 to 74 years,A5,Anza,7.0,2016.0,z,email,True,2007,False,1.0,115.0
176,3,SENIOR,7,8,65 to 74 years,X,Main Library,4.0,2014.0,z,email,True,2012,True,NaN,28.0
260,3,SENIOR,341,212,65 to 74 years,P1,Park,7.0,2016.0,z,email,True,2003,False,5.0,163.0
294,3,SENIOR,67,26,75 years and over,P5,Portola,7.0,2016.0,z,email,True,2009,False,9.0,91.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423359,3,SENIOR,4,0,75 years and over,W4,Western Addition,5.0,2013.0,z,email,True,2012,False,5.0,17.0
423388,3,SENIOR,25,34,75 years and over,X,Main Library,5.0,2016.0,z,email,True,2015,True,NaN,17.0
423403,3,SENIOR,458,129,75 years and over,E9,Excelsior,6.0,2016.0,z,email,True,2003,True,NaN,162.0
423405,3,SENIOR,280,27,75 years and over,X,Main Library,7.0,2016.0,z,email,True,2003,False,9.0,163.0
423431,3,SENIOR,0,0,75 years and over,X,Main Library,NaN,NaN,z,email,True,2012,False,6.0,0.0

In [43]:
#Die statistische Beschreibung des Datensatzes anzeigen lassen
df.describe()

,Patron Type Code,Total Checkouts,Total Renewals,Circulation Active Month,Circulation Active Year,Year Patron Registered,Supervisor District,Membership Duration
count,423448.000000,423448.000000,423448.000000,355544.000000,355544.000000,423448.000000,313138.000000,423448.000000
mean,1.036765,161.982097,59.657327,6.454740,2014.724943,2010.348917,6.288240,56.587142
std,4.188198,453.703678,225.009917,2.916071,1.567938,4.357374,3.123634,54.774506
min,0.000000,0.000000,0.000000,1.000000,2003.000000,2003.000000,1.000000,0.000000
25%,0.000000,2.000000,0.000000,4.000000,2014.000000,2007.000000,4.000000,8.000000
50%,0.000000,19.000000,2.000000,7.000000,2015.000000,2012.000000,6.000000,41.000000
75%,1.000000,113.000000,27.000000,8.000000,2016.000000,2014.000000,9.000000,98.000000
max,104.000000,35907.000000,8965.000000,12.000000,2016.000000,2016.000000,11.000000,163.000000

#Testweises Berechnen versch. Statistiken

In [34]:
#Wie viele Personen stammen aus den Supervisor Districts 4, 5 oder 6?
#Die Funktion isin() prüft die Elemente auf die Werte, die in den () angegeben sind: 
#Alternativ dazu könnte man mit len arbeiten:
#print(len(df[df['Supervisor District'].isin([4, 5, 6])]))
df['Supervisor District'].isin([4, 5, 6]).sum()

87264

In [35]:
#Wie viel Prozent haben eine Membership Duration größer als 100?
(df['Membership Duration'] > 100).mean()

0.24354584270087473

In [36]:
df['Age Range'].value_counts()

25 to 34 years       91083
35 to 44 years       67390
10 to 19 years       58944
45 to 54 years       52492
0 to 9 years         38242
65 to 74 years       30141
20 to 24 years       29761
55 to 59 years       21230
60 to 64 years       19800
75 years and over    14150
Name: Age Range, dtype: int64

#Beispielfrage 1: "Wie viele Senioren und Kinder sind Kunden der SFL?"

In [37]:
df['Age Range'].isin(['0 to 9 years', '65 to 74 years', '75 years and over']).sum()

82533

#Beispielfrage 2: "Wie viele Nutzer möchten per Mail informiert werden?"

In [38]:
(df['Notice Preference Definition'] == 'email').sum()

323937

In [39]:
df['Notice Preference Definition'].value_counts()

email    323937
phone     68172
print     31336
none          3
Name: Notice Preference Definition, dtype: int64

#Beispielfrage 3: "Wie alt sind diese Nutzer durchschnittlich im Vergleich zu Nutzern, 
#die per Post informiert werden möchten?". Eventueller Lösungsweg: 
#1.: Durchschnittliches Alter der Gruppe von Nutzern die email angegeben haben
#2.: Durchschnittliches Alter der Gruppe von Nutzern, die print angegeben haben
#3.: Vergleich von 1. und 2.

In [40]:
# 1. Durchschnittliches Alter der Gruppe von Nutzern die email angegeben haben:
#Zunächst Nutzer, die email angegeben haben, filtern. FRAGE: Wie kann ich das Ergebnis in einer neuen Variable speichern??? 
email_user = df[['Notice Preference Definition'] == 'email']
email_user

KeyError: False

In [ ]:
#Alternativ das ganze mit dem boolschen Vektor filtern und in einer Hilfsvariable speichern:
filter_email_user = df['Notice Preference Definition'] == 'email'
df.loc[filter_email_user]

In [ ]:
#Nun will ich das Durchschnittsalter der Nutzer aus der eben erstellten Variable filter_email_user:
df(filter_email_user df['Age Range'].value_counts())

#Beispielfrage 4: Wie viele Ausleihen werden im Mittel pro Altersgruppe und pro Jahr getätigt? 
#Ist die Streuung zwischen den Gruppen gleich?

In [45]:
#1.: Verhältnis von Total Checkouts und Age Range (oder einfacher, weil weniger Attribute: Patron 
#Type Definition) #herstellen. Dazu die jeweiligen Altersgruppen filtern und die dazugehörigen 
#Ausleihen zusammenrechnen. #Davon den Mittelwert berechnen.
#2.: Wie das Ganze dann noch zusätzlich nach Jahren filtern?? Und ist mit "Jahren" die Variable Membership 
#Duration gemeint?